{% extends "modals/baseModal.html" %}

{% block modalId %}
id="editQueueModal"
{% endblock %}

{% block modalController %}
    ng-controller="EditQueueController as EditQueueController"
{% endblock %}

{% block modalHeader %}
    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <h4 class="modal-title" id="myModalLabel">Edit Queue</h4>
{% endblock %}

{% block modalBody %}
    <div class="form-group">
        <label for="queueName">Queue Name</label>
        <input ng-model='editingQueue.name'type="text" class="form-control" id="queueName" placeholder="Enter Queue Name" >
    </div>
    <hr>
    <h4>Resources</h4>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Resource
                </th>
                <th>
                    Active
                </th>
                <th>

                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="resource in editingQueue.resources">
                <td><input ng-model='resource.name'type="text" class="form-control" placeholder="Enter Resource Name" ></td>
                <td><input type="checkbox" ng-model="resource.is_active"></td>
                <td><button ng-show="!resource.isNew"type="button" class="pull-left btn btn-danger" ng-click="deleteResource(resource._id)" >Delete</button></td>

            </tr>
            <tr>
                <td><button type="button" class="pull-left btn " ng-click="newResource()" >Add Resource</button></td>
            </tr>
        </tbody>
    </table>
{% endblock %}

{% block modalFooter %}
    <button type="button" class="pull-left btn btn-danger" ng-click="delete(editingQueue)"data-dismiss="modal">Delete Queue</button>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary" ng-click="submit(editingQueue)" data-dismiss="modal">Save</button>
{% endblock %}
