<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>QueueMe</title>
    <link rel="stylesheet" type="text/css" href="/static/theme.css">
  </head>

  <body>

    {%- block topbar -%}
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <h2>
            <a href="/" class="brand">QueueMe
          </a>
          </h2>
        </div>
        <div class="navbar-collapse collapse" id="navbar-main">

          <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated() %}
              <li>
                <span class="navbar-text">
                Logged in as <span class='navbar-email'>{{ current_user.email }}</span>
                </span>
              </li>
              <li><a href="/logout">Logout</a></li>
            {% elif request.path != "/login"  %}
              <li><a href="/login">Login</a></li>
            {% endif %}
          </ul>

        </div>
        <div class="navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>
    {%- endblock -%}

    <div class="container">
      <div class="content">
        {% block page_header %}{% endblock %}
        {% block content %}{% endblock %}
      </div>
    </div>
    {% block js_footer %}{% endblock %}
  </body>
</html>